@import './stylesheets/colors';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

html,
body,
#property-management-app,
.app-container {
	height: 100%;
}

img {
	display: block;
	height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
.bold {
	font-weight: 700;
}

// .btn {
// 	padding: 10px 30px !important;
// 	font-weight: 700;
// 	text-transform: uppercase;
// }

// .btn-primary {
// 	color: $black !important;
// 	background-color: $yellow !important;
// }
