*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

html,
body,
#property-management-app,
.app-container {
	height: 100%;
}

img {
	display: block;
	height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: 700;
}
